div[itemprop=video]{display:none}h3{font-weight:bold;text-decoration:underline}h4{font-weight:bold;text-decoration:underline}h5{font-weight:bold;text-decoration:underline}@media print{  }

/* cache key: engl393dnd5th:resourceloader:filter:minify-css:7:0c519af979a1186f09b24ee6f1243bf8 */